    <div class="form-label">
        {{ form.password.label }}
    </div>

    <div class="form-string-field">
        {{ form.password(class="form-string-field-font", size=33) }}
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div class="form-label">
        {{ form.password_confirm.label }}
    </div>
    <div class="form-string-field">
        {{ form.password_confirm(class="form-string-field-font", size=33) }}
        {% for error in form.password_confirm.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
